<section class="">
  <!-- Table responsive wrapper -->
  <div class="overflow-x-auto bg-white dark:bg-neutral-700">
    <!-- Search input -->
    <div class="flex justify-between">
      <div class="relative m-[2px] mb-3 mr-5 float-left"></div>
      <div class="mb-3">
        <a
          role="button"
          (click)="openForm()"
          class="inline-block rounded bg-orange-400 text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:bg-orange-800 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-black focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:bg-black active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
          >nouveau</a
        >
      </div>
    </div>

    <!-- Table -->
    <table class="min-w-full text-sm text-left whitespace-nowrap">
      <!-- Table head -->
      <thead class="tracking-wider uppercase bg-orange-400 dark:bg-neutral-800">
        <tr>
          <th scope="col" class="px-6 py-4">Grades</th>
          <th scope="col" class="px-6 py-4 text-right"></th>
        </tr>
      </thead>

      <!-- Table body -->
      <tbody>
        @for (item of response?.results; track $index) {
        <tr class="hover:bg-neutral-100 dark:hover:bg-neutral-600">
          <td class="px-6 py-4">{{ item.libelle }}</td>
          <td class="flex justify-end gap-2 px-6 py-4"></td>
        </tr>
        }
      </tbody>
    </table>
    <app-pagination
      [data]="dataPagination"
      (OnGetNumberPage)="paginate($event)"
    ></app-pagination>
    <div
      [ngClass]="{
        'transition-transform': true,
        '-translate-x-full': isFormClosed
      }"
    >
      <app-form-filiere (onCloseForm)="closeForm()"></app-form-filiere>
    </div>
  </div>
</section>
